.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 20px;
}

.App-header {
  background-color: #2f50ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Movie-table-head {
  background-color: #4e6183;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Movie-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Actors-table-head {
  background-color: #714992;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Actors-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Lastseen-table-head {
  background-color: #667e0f;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Lastseen-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

th {
  height: 35px;
  padding: 10px;
}

td {
  height: 30px;
  padding: 10px;
}

.App-footer {
  background-color: #8d8f92;
  font-size: 12px;
  color: black;
  padding: 5px 0px 30px 0px;
  width: 100%;
  /* Height of the footer*/
  height: 10px;
}
