.App {
  text-align: center;
  background-color: blanchedalmond;
}

.App-header {
  height: 150px;
  padding: 20px;
  background-color: #2f50ac;
  color: white;
  text-align: left;
}

.p-header {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  font-size: 20px;
}

.App-logo {
  height: 120px;
  pointer-events: none;
  margin: 20px 50px 20px 20px;
  float: left;
}

.App-header ul {
  list-style-type: none;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App-header ul li {
  display: inline-block;
  width: 200px;
  height: 25px;
  text-align: center;
  background: darkblue;
  margin-right: 2px;
  padding: 5px;
  cursor: pointer;
}

.App-header ul li.active {
  background: darkmagenta;
}

.App-header ul li:hover {
  color: rgb(211, 177, 136);
}

h1 {
  font-size: 30px;
  margin-top: 70px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Movie-table-head {
  background-color: #4e6183;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Movie-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Movie-table-body tr {
  cursor: pointer;
}

.Movie-table-body tr:hover {
  background-color: #666;
}

.Movie-table-body tr.active {
  color: yellow;
}

.Actors-table-head {
  background-color: #714992;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Actors-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}
.Actors-table-body tr {
  cursor: pointer;
}

.Actors-table-body tr:hover {
  background-color: #666;
}

.Actors-table-body tr.active {
  color: yellow;
}
.Lastseen-table-head {
  background-color: #667e0f;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Lastseen-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Lastseen-table-body tr {
  cursor: pointer;
}

.Lastseen-table-body tr:hover {
  background-color: #666;
}

.Lastseen-table-body tr.active {
  color: yellow;
}

.LatinMovies-table-head {
  background-color: #cf820f;
  font-size: 18px;
  color: white;
  text-align: center;
}

.LatinMovies-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: center;
}

.LatinMovies-table-body tr {
  cursor: pointer;
}

.LatinMovies-table-body tr:hover {
  background-color: #666;
}

.LatinMovies-table-body tr.active {
  color: yellow;
}

table {
  width: 70%;
  margin-bottom: 50px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 35px;
  padding: 10px;
}

td {
  height: 30px;
  padding: 10px;
}

.App-footer {
  background-color: #8d8f92;
  font-size: 12px;
  color: black;
  padding: 5px 0px 30px 0px;
  width: 100%;
  /* Height of the footer*/
  height: 10px;
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input {
  font-size: 16px;
  margin: 5px;
  display: inline-block;
}

label {
  font-size: 16px;
}

.submit {
  margin: 10px;
  background-color: rgb(16, 124, 6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

div.error {
  text-align: left;
  background: lightcoral;
  color: darkred;
  font-size: 16px;
  padding: 16px;
  margin: 16px;
  border: 2px solid darkred;
}
