.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}*/

.App-header {
  background-color: #2f50ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Movie-table-head {
  background-color: #4e6183;
  font-size: 18px;
  color: white;
  text-align: center;
}

.Movie-table-body {
  background-color: #4f5052;
  font-size: 18px;
  color: white;
  text-align: left;
}

table {
  margin-right: auto;
  margin-left: auto;
}
